*{
  margin:0;
  padding:0;
}
.main{
    width:100%;
    height: 100vh;
    background-image: url(./crowd.jpg);
    background-size: cover;
}
.nav {
  
    width: 100%;  /* i'm assuming full width */
    height: 80px;
    background-color: #fff9; /* change to desired color */
    text-decoration: none;
    padding-left: 0px;
    display: flex;
    justify-content: space-between;
    line-height: 80px;
}
.logo {
    display: inline-block;
    vertical-align: top;
    width: 4rem;
    height: 3.5rem;
    margin-right: 20px;
    margin-top: 10px; 
    margin-left:20px;
    
    padding-bottom: 0.3%;
}
.navright > a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    height: 80px;        /* if you want it to take the full height of the bar */
    line-height: 80px;    /* if you want it vertically middle of the navbar */
    text-decoration: none;
    color: #13648f;
    
}
.navright > a.active {
    background-color: #2196F3;
    color: white;
    border-radius: 6px;
  }
 .navright > a:hover {
    background-color: #ddd;
    border-radius: 6px;
    
  }
  .searchcontainer {
    float: right;
  }
  .nav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    width: 40px;
    margin-top:22%;
    background-color:#ccc9 ;
    
  }
  .searchcontainer button {
    float: right;
    padding: 6px 10px;
    margin-top: 23.5%;
    margin-right: 16px;
    background: #ccc9;
    font-size: 17px;
    border: none;
    cursor: pointer;
    color:#085c8a;
  }
  .searchcontainer button:hover {
    background: #ccc;
  }
  .text h1{
    color:white;
    font-size: 50px;
    padding-top: 20rem ;
    padding-left: 8rem;
    width:700px;
  }
  .text p{
    color:white;
    padding-top: 0.5rem ;
    padding-left: 8rem;
    
  }
  
  