*{
    margin:0;
    padding: 0;
}
.main{
    width:100%;
    height:40vh;
    background-color: black;
    opacity: .8;
    display: flex;
    justify-content: space-between;
}
.left{
    float:left;
    color:white;
    padding-top: 2.5rem;
    padding-left: 2rem;
}
.left h2{
    font-family: "poppins", sans-serif;
    font-weight: 600;
    font-size: 18px;
}
.left p{
    margin-top: 0.6rem;
    font-family: "poppins", sans-serif;
    font-weight: 400;
    font-size: 12px;
}
.left img{
    margin-top: 2rem;
    width: 25px;
    height: 25px;
}
.middle{
   
padding-top: 2.5rem;
padding-left: 2rem;
color: white;

}
.middle h2{
    font-family: "poppins", sans-serif;
font-weight: 600;
font-size: 18px;
}
.middle p{
margin-top: 0.6rem;
font-family: "poppins", sans-serif;
font-weight: 400;
font-size: 12px;
}
.right{
    padding-top: 2.5rem;
padding-left: 2rem;
color: white;
padding-right: 13rem;
}
.right h2{
   font-family: "poppins", sans-serif;
font-weight: 600;
font-size: 18px;
}
.right p{
    margin-top: 0.6rem;
font-family: "poppins", sans-serif;
font-weight: 400;
font-size: 12px;
}
